[
    Image {
        id: 2088da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 22.04",
            "CUDA 12.0",
            "Docker",
        ],
        image_type: "ubuntu-22.04-cuda-12.0-docker",
        name: "Ubuntu 22.04 + CUDA 12.0 + Docker",
    },
    Image {
        id: 1988da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 22.04",
            "CUDA 12.0",
        ],
        image_type: "ubuntu-22.04-cuda-12.0",
        name: "Ubuntu 22.04 + CUDA 12.0",
    },
    Image {
        id: 1888da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.6",
            "PyTorch 1.12",
        ],
        image_type: "jupyter",
        name: "Jupyter",
    },
    Image {
        id: 1788da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 22.04",
            "Minimal Image",
        ],
        image_type: "ubuntu-22.04",
        name: "Ubuntu 22.04",
    },
    Image {
        id: 1688da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.7",
            "Docker",
        ],
        image_type: "ubuntu-20.04-cuda-11.7-docker",
        name: "Ubuntu 20.04 + CUDA 11.7 + Docker",
    },
    Image {
        id: 1588da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.7 ",
        ],
        image_type: "ubuntu-20.04-cuda-11.7",
        name: "Ubuntu 20.04 + CUDA 11.7",
    },
    Image {
        id: 1488da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.4",
            "Docker",
        ],
        image_type: "ubuntu-20.04-cuda-11.4-docker",
        name: "Ubuntu 20.04 + CUDA 11.4 + Docker",
    },
    Image {
        id: 1388da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.1",
            "Docker",
        ],
        image_type: "ubuntu-20.04-cuda-11.1-docker",
        name: "Ubuntu 20.04 + CUDA 11.1 + Docker",
    },
    Image {
        id: 1288da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.1 ",
        ],
        image_type: "ubuntu-20.04-cuda-11.1",
        name: "Ubuntu 20.04 + CUDA 11.1",
    },
    Image {
        id: 1188da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.4 ",
        ],
        image_type: "ubuntu-20.04-cuda-11.4",
        name: "Ubuntu 20.04 + CUDA 11.4",
    },
    Image {
        id: 0988da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "CUDA 11.3",
            "FastAI Course",
        ],
        image_type: "fastai",
        name: "FastAI",
    },
    Image {
        id: 0588da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 20.04",
            "Minimal Image",
        ],
        image_type: "ubuntu-20.04",
        name: "Ubuntu 20.04",
    },
    Image {
        id: 0488da25-bb0d-41cc-a191-dccae45d96fd,
        details: [
            "Ubuntu 18.04",
            "Minimal Image",
        ],
        image_type: "ubuntu-18.04",
        name: "Ubuntu 18.04",
    },
]